$font: 'Libre Baskerville', serif;
$font-color: hsl(354, 93%, 22%);
$red:  hsl(0, 100%, 30%);
$yellow-red: hsla(40, 94%, 80%, 0.445);
$purple: hsl(339, 80%, 12%);
$blue: hsl(201, 100%, 14%);
%articles{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: $purple;        
        padding-bottom: 3%;
        padding-top: 3%;
}
%labels{
    label{
        font-size: 0.7rem;
    }
}
%forcontents{
    width: 100%;
    font-family: $font;
    padding: 1%;
    font-size: 1rem;
}

%newlabel{
    display: inline-block;
    font-size: 0.8rem;
    margin: 1%;
}

%flexing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
%buttons{
    box-sizing: border-box;
    margin: 3%;
    font-family: $font;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: $purple;
}
%button-hover-active{
    font-weight: bold;
    color: $red;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}
.cart{
    @extend %articles;
    width: 100%;
    h1{
        font-size: 2rem;
    }
    .contents{
        width: 100%;
        overflow: hidden;
        @extend %flexing;
        flex-direction: row;
    }
    #table{
        width: 100%;
        @extend %flexing;
        justify-content: space-evenly;
        .inside-row{
            @extend %labels;
            display: inline-block;
            width: 30%;
        }
        .inside{
            display: inline-block;
            width: 100%;
        }
        thead,tbody{
            width: 100%;
            @extend %flexing;
            justify-content: space-between;
        }
        tr{
            @extend %flexing;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin: 0 0 2% 0;
        }
        
        .table-name{
            @extend %flexing;
            justify-content: space-evenly;
            width: 20%;
        }
    }
}
.checkout{
    @extend %flexing;
    width: 100%;
    background-color: $yellow-red;
    h1{
        font-size: 2rem;
    }
    #payment-form{
        @extend %flexing;
        width: 50%;
        div{
            margin-top: 3%;
            margin-bottom: 3%;
        }
        #total{
            font-size: 1.5rem;
        }
        #card-element{
            width: 100%;
            padding: 1%;
        }
        #submit{
            @extend %buttons;
            @extend %button-hover-active;
        }
    }
}
