{% extends 'orders/layout.html'%}
{% load static %}


{% block content %}
{% csrf_token %}
<section class="cart">
    <article class="cart">
        <div>
            <h1>Your cart</h1>
        </div>
        <div>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Toppings</th>
                    <th>Extras</th>
                    <th>Total</th>
                </tr>
                {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.product.name }}</td>
                    <td>{{ cart_item.product.price }}</td>
                    <td>{{ cart_item.quantity }}</td>
                    <td>{{ cart_item.product.additionals__toppings.all }}</td>
                </tr>
                {% endfor%}
    
            </table>
        </div>
        </div>
    </article>
</section>
<!--<section class="checkout">
    <article class="checkout">
        <div>
            <h1>Checkout</h1>
        </div>
        </div>
    </article>
</section>-->

{% endblock %}