#pizza, #subs, #pasta, #salad, #dinnerplatter, #pizza .contents, #subs .contents, #pasta .contents, #salad .contents, #dinnerplatter .contents, .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #370617;
  padding-bottom: 3%;
  padding-top: 3%; }

#pizza .contents label, #subs .contents label, #pasta .contents label, #salad .contents label, #dinnerplatter .contents label {
  display: block;
  font-size: 1.5rem;
  margin: 1%; }

#pizza .contents .select, #subs .contents .select, #pasta .contents .select, #salad .contents .select, #dinnerplatter .contents .select {
  width: 100%;
  font-family: "Libre Baskerville", serif;
  padding: 1%;
  font-size: 1rem; }

#pizza .contents .smaller-label, #subs .contents .smaller-label, #pasta .contents .smaller-label, #salad .contents .smaller-label, #dinnerplatter .contents .smaller-label {
  display: inline-block;
  font-size: 0.8rem;
  margin: 1%; }

#heading, #item, #item .properties-div .property, #item #price-div, #item #add-to-cart-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }

#pizza .contents .items, #subs .contents .items, #pasta .contents .items, #salad .contents .items, #dinnerplatter .contents .items, #item #add-to-cart {
  box-sizing: border-box;
  margin: 3%;
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: #370617; }

#pizza .contents .items:hover, #pizza .contents .items:active, #subs .contents .items:hover, #subs .contents .items:active, #pasta .contents .items:hover, #pasta .contents .items:active, #salad .contents .items:hover, #salad .contents .items:active, #dinnerplatter .contents .items:hover, #dinnerplatter .contents .items:active, #item #add-to-cart:hover, #item #add-to-cart:active {
  font-weight: bold;
  color: #990000;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none; }

#navbar {
  color: #6c040e;
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  padding-left: 2%;
  padding-right: 2%; }
  #navbar h2 {
    width: 100%; }
  #navbar ul {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  #navbar li {
    list-style: none;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%; }
  #navbar a {
    font-family: 'Taviraj', serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #6c040e; }
  #navbar a:hover {
    font-weight: bold; }

#heading {
  height: 80vh;
  color: #6c040e; }
  #heading h1 {
    font-size: 4rem; }

#pizza h2, #subs h2, #pasta h2, #salad h2, #dinnerplatter h2 {
  font-size: 4rem; }
#pizza .contents, #subs .contents, #pasta .contents, #salad .contents, #dinnerplatter .contents {
  width: 100%;
  overflow: hidden;
  flex-direction: row; }
  #pizza .contents .common-div, #subs .contents .common-div, #pasta .contents .common-div, #salad .contents .common-div, #dinnerplatter .contents .common-div {
    margin-bottom: 10%; }

#item {
  width: 100%; }
  #item h1 {
    font-size: 3rem; }
  #item .properties-div {
    box-sizing: border-box;
    margin: 1%;
    width: 50%; }
    #item .properties-div .property {
      flex-direction: row;
      margin-top: 2%; }
    #item .properties-div #toppings-div {
      font-size: 0.9rem; }
    #item .properties-div .property-label {
      font-size: 1.5rem;
      margin: 1%; }
    #item .properties-div .div {
      margin-right: 3%; }
  #item #price-div, #item #add-to-cart-div {
    flex-direction: row;
    font-size: 3rem; }
  #item #quantity {
    padding: 1%;
    width: 30%;
    font-size: 1.1rem; }
  #item #add-to-cart {
    font-size: 1.3rem;
    padding: 2%;
    border: #990000 solid 1px;
    border-radius: 0.2rem; }
  #item #add-to-cart:hover, #item #add-to-cart:active {
    border: #990000 solid 1px;
    border-radius: 0.2rem; }

.cart {
  padding-top: 5%;
  width: 100%; }

.checkout {
  color: #0a0000; }

/*# sourceMappingURL=index.css.map */
