$font: 'Libre Baskerville', serif;
$font-color: hsl(354, 93%, 22%);
$red:  hsl(0, 100%, 30%);
$yellow-red: hsla(40, 97%, 64%, 0.445);
$purple: hsl(339, 80%, 12%);
$blue: hsl(201, 100%, 14%);
%articles{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: $purple;        
        padding-bottom: 3%;
        padding-top: 3%;
}
%labels{
    label{
        display: block;
        font-size: 1.5rem;
        margin: 1%;
    }
}
%forcontents{
    width: 100%;
    font-family: $font;
    padding: 1%;
    font-size: 1rem;
}

%newlabel{
    display: inline-block;
    font-size: 0.8rem;
    margin: 1%;
}

%flexing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
%buttons{
    box-sizing: border-box;
    margin: 3%;
    font-family: $font;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: $purple;
}
%button-hover-active{
    font-weight: bold;
    color: $red;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}
#navbar{
    color: $font-color;
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    padding-left: 2%;
    padding-right: 2%;
    h2{
        width: 100%;
    }
    ul{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    li{
        list-style: none;
        display: inline-block;
        margin-left: 2%;
        margin-right: 2%;
    }
    a{
        font-family: 'Taviraj', serif;
        font-size: 1.5rem;
        text-decoration: none;
        color: $font-color;
    }
    a:hover{
        font-weight: bold;
    }
}
#heading{
    @extend %flexing;
    height: 80vh;
    color: $font-color;
    h1{
        font-size: 4rem;
    }
}
#pizza, #subs,#pasta, #salad, #dinnerplatter{
    @extend %articles;
    h2{
        font-size: 4rem;
    }
    .contents{
        width: 100%;
        overflow: hidden;
        @extend %labels;
        @extend %articles;
        flex-direction: row;
        .common-div{
            margin-bottom: 10%;
        }
        .select{
            @extend %forcontents;
        }
        .smaller-label{
            @extend %newlabel;
        }
        .items{
            @extend %buttons;
        }
        .items:hover, .items:active{
           @extend %button-hover-active;
        }
    }        
}
#item{
    @extend %flexing;
    width: 100%;
    h1{
        font-size: 3rem;
    }
    .properties-div{
        box-sizing: border-box;
        margin: 1%;
        width: 50%;
        .property{
            @extend %flexing;
            flex-direction: row;
            margin-top: 2%;
        }
        #toppings-div{
            font-size: 0.9rem;
        }
        .property-label{
            font-size: 1.5rem;
            margin: 1%;
        }
        .div{
            margin-right: 3%;
        }
    }
    #price-div,#add-to-cart-div{
        @extend %flexing;
        flex-direction: row;
        font-size: 3rem;
    }
    #quantity{
        padding: 1%;
        width: 30%;
        font-size: 1.1rem;
    }
    #add-to-cart{
        @extend %buttons;
        font-size: 1.3rem;
        padding: 2%;
        border: $red solid 1px;
        border-radius: 0.2rem;
    }
    #add-to-cart:hover, #add-to-cart:active{
        @extend %button-hover-active;
        border: $red solid 1px;
        border-radius: 0.2rem;
    }
}
