$font: 'Julius Sans One';
$blue:  hsl(201, 100%, 5%);
$red: hsl(0, 69%, 50%);
$golden:hsl(31, 100%, 48%);
$cream:  hsl(40, 97%, 64%);
%articles{
        background-color:  $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: $cream;        
        padding-bottom: 3%;
}
%labels{
    label{
        display: block;
        font-size: 1.5rem;
        margin: 1%;
    }
}
%forcontents{
    width: 100%;
    font-family: $font;
    padding: 1%;
    font-size: 1rem;
}

%newlabel{
    display: inline-block;
    font-size: 0.8rem;
    margin: 1%;
}
#navbar{
    background-color: $blue;
    padding: 1%;
    position: fixed;
    top: 0;
    width: 100%;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    li{
        list-style: none;
        display: inline-block;
    }
    button{
        font-family: $font;
        font-size: 1.3rem;
        background-color: transparent;
        border: none;
    }
    a{
        font-family: $font;
        color: $cream;
        text-decoration: none;
    }
    a:hover{
        font-weight: bolder;
    }
}
#heading{
    background-color: $golden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    h1{
        font-size: 4rem;
    }
}
#pizza, #subs,#pasta, #salad, #dinnerplatter{
    @extend %articles;
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    .contents{
        width: 20%;
        overflow: hidden;
        @extend %labels;
        .common-div{
            margin-bottom: 10%;
        }
        .select, .add-to-cart{
            @extend %forcontents;
        }
        .smaller-label{
            @extend %newlabel;
        }

    }        
}
#subs, #dinnerplatter{
    background-color: $golden;
    color: black;
}
.add-to-cart:hover{
        cursor: pointer;
        border: none;
        background-color: $red;
        color: $cream;
}

.cart{
    @extend %articles;
    padding-top: 5%;
    background-color: rgb(124, 18, 18);
    width: 100%;
}
