{% extends "orders/layout.html" %}

{% block content %}
<section id="heading">
    <h1>Pinocchio's Pizza & Subs</h1>
</section>
<section id="menu">
    <article id="pizza">
        <h1>Menu</h1>
        <h2>Pizza</h2>
        <div id="mypizzas">
            <div id="regular">
                <h3>Regular Pizza</h3>
                <img>
                <div class="pizza-divs">
                    <label>Toppings</label>
                    <select class="pizza-select">
                        {% for pizza in pizzas %}
                        <option>{{ pizza.get_topping_display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="pizza-divs">
                    <label>Select toppings</label>
                    <select class="pizza-select-toppings">
                        {% for topping in toppings %}
                        <option>{{ topping }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="pizza-divs" id="size">
                    <label>Small</label>
                    <input type="radio" name="size">
                    <label>Large</label>
                    <input type="radio" name="size">
                </div>
                <div class="pizza-divs">
                    <label>Quantity</label>
                    <input type="number" class="quantity" min="0">
                    <!--add proice-->
                </div>
                <div class="pizza-divs">
                    <button class="add-to-cart">
                        Add to cart
                    </button>
                </div>
            </div>
            <div id="sicilian">
                <h3>Sicilian Pizza</h3>
                <img>
                <div class="pizza-divs">
                    <label>Toppings</label>
                    <select class="pizza-select">
                        {% for pizza in pizzas %}
                        <option id="{{ pizza.get_topping_display }}">{{ pizza.get_topping_display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div  class="pizza-divs">
                    <label>Select toppings</label>
                    <select class="pizza-select-toppings">
                        {% for topping in toppings %}
                        <option>{{ topping }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="pizza-divs" id="size">
                    <label>Small</label>
                    <input type="radio" name="size">
                    <label>Large</label>
                    <input type="radio" name="size">
                </div>
                <div class="pizza-divs">
                    <label>Quantity</label>
                    <input type="number" class="quantity" minlength="0">
                </div>
                <div class="pizza-divs">
                    <button class="add-to-cart">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </article>
    <article id="subs">
        <h2>Subs</h2>
        <div class="dp-s-div" id="subs-div">
            <div class="dp-s-select-div" id="subs-select-div">
                <select class="dp-s-select" id="subs-select">
                    {% for sub in subs %}
                    <option>{{ sub.sub }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="dp-s-size" id="subs-size">
                <label>Small</label>
                <input type="radio" name="size">
                <label>Large</label>
                <input type="radio" name="size">
            </div>
            <div class="dp-s-quantity" id="subs-quantity">
                <label>Quantity</label>
                <input type="number">
                <!--add price-->
            </div>
            <div class="dp-s-cart" id="subs-add-to-cart">
                <button>
                    Add to cart
                </button>
            </div>
        </div>
    </article>
    <article id="pasta">
        <h2>Pasta</h2>
        <div class="same-div-p-and-s" id="pasta-div">
            <div class="select-div-p-and-s" id="pasta-select-div">
                <select class="select" id="pasta-select">
                    {% for pasta in pastas %}
                    <option>{{ pasta.pasta }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="quantity" id="pasta-quantity">
                <label>Quantity</label>
                <input type="number">
                <!--add price-->
            </div>
            <div class="p-s-cart" id="pasta-add-to-cart">
                <button>
                    Add to cart
                </button>
            </div>
        </div>
    </article>
    <article id="salad">
        <h2>Salad</h2>
        <div class="same-div-p-and-s" id="salad-div">
            <div class="select-div-p-and-s" id="salad-select-div">
                <select class="select" id="salad-select">
                    {% for salad in salass %}
                    <option>{{ salad.salad }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="quantity" id="salad-quantity">
                <label>Quantity</label>
                <input type="number">
                <!--add price-->
            </div>
            <div class="p-s-cart" id="pasta-add-to-cart">
                <button>
                    Add to cart
                </button>
            </div>
        </div>
    </article>
    <article id="dinnerplatter">
        <h2>Dinner Platter</h2>
        <div class="dp-s-div" id="dp-div">
            <div class="dp-s-select-div"> 
                <select class="dp-s-select" id="dp-select">
                    {% for platter in dinnerplatters %}
                    <option>{{ platter.platter }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="dp-s-size" id="dp-size">
                <label>Small</label>
                <input type="radio" name="size">
                <label>Large</label>
                <input type="radio" name="size">
            </div>
            <div class="dp-s-quantity" id="dp-quantity">
                <label>Quantity</label>
                <input type="number">
                <!--add price-->
            </div>
            <div class="dp-s-cart" id="dp-add-to-cart">
                <button>
                    Add to cart
                </button>
            </div>
        </div>
    </article>
</section>
{% endblock %}