{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'orders/style.css' %}">
        <link rel="stylesheet" href="{% static 'orders/index.css' %}">
        <link rel="stylesheet" href="{% static 'user/index.css' %}">
        <script src="{% static 'orders/mainscript.js' %}"></script>
        <script src="{% static 'user/mainscript.js' %}"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static 'cart/stripe.js' %}"></script>           
        <title>Pinocchio's Pizza & Subs</title>
    </head>
    <body>
        <nav id="navbar">
            <ul>
                <li class="li">
                    <button>
                        <a id="menu-link" href="{% url 'index'%}">
                            Menu
                        </a>
                    </button>
                </li>
                <li class="li">
                    <button>
                        <a id="cart-link" href="{% url 'cart' %}">
                            Cart
                        </a>
                    </button>
                </li>
                {% if request.user.is_superuser %}
                <li class="li">
                    <button>
                        <a id="order-link" href="{% url 'view_order' %}">
                            Order
                        </a>
                    </button>
                </li>
                {% endif %}
                {% if user %}
                    <li class="li">
                        <button>
                            {{ user.username }}
                        </button>
                    </li>
                {% endif %}
                <li class="li">
                    <button>
                        {% if user.username %}
                            <a  id="logout-link" href="{% url 'logout' %}">
                                Logout
                            </a>
                        {% else %}
                            <a  id="login-link" href="{% url 'login' %}">
                                Login
                            </a>
                        {% endif %}
                    </button>
                </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>