{% extends 'orders/layout.html'%}
{% load static %}


{% block content %}
{% csrf_token %}
<section class="cart">
    <article class="cart">
        <div>
            <h1>Your cart</h1>
        </div>
        <div>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <tr>Extras</tr>
                    <th>Total</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        </div>
    </article>
</section>
<section class="checkout">
    <article class="checkout">
        <div>
            <h1>Checkout</h1>
        </div>
        </div>
    </article>
</section>
{% endblock %}