{% extends "orders/layout.html"%}
{% load static %}
{% block content %}

{% csrf_token %}
        <section class="reg-log-sec">
            <article id="register" class="article">
                <div class="register-login-div">
                    <h2>Register</h2>
                    <form method="post" action="{% url 'register' %}">
                        
                        {% csrf_token %}
                    
                        <label>Username</label>
                        <input type="text" name="username" required>
                        <label>First name</label>
                        <input type="text" name="first-name" required>
                        <label>Last name</label>
                        <input type="text" name="last-name" required>
                        <label>Email</label>
                        <input type="email" name="email" required>
                        <label>Password</label>
                        <input type="password" name="password" required>
                        <label>Confirm Password</label>
                        <input type="password" name="confirm-password" required>
                        <button type="submit" id="register-button">Register</button>
                    </form>
                </div>
            </article>
            <article id="login" class="article">
                <div class="register-login-div">
                    <h2>Login</h2>
                    <form method="post" action="{% url 'login' %}">
                        
                        {% csrf_token %}
        
                        <label>Username</label>
                        <input type="text" name="username">
                        <label>password</label>
                        <input type="password" name="password">
                        <button type="submit"  id="login-button">Log in</button>
                    </form>
                </div>
            </article>
            
            <div class="messages">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </section>
{% endblock %}